@import 'tailwindcss';
@import './theme.css';
@import './utilities.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-gutter: stable;
  font-family:
    var(--font-pretendard),
    'Pretendard Variable' sans-serif;
}
:focus-visible {
  @apply focus-ring;
}

.container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}
