@import 'tailwindcss';
@import './theme.css';
@import './utilities.css';

* {
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg-default);
  overflow: visible;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-gutter: stable;
  font-family:
    var(--font-pretendard),
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    sans-serif;
}
